* {
    box-sizing: border-box;
}

:root {
    --background: #f8f9fa;
    --red: #dc3545;
    --gray: #6c757d;
}

.icon {
    margin-left: 5px;
}

.icon:hover {
    fill: var(--red);
    cursor: pointer;
}